article {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fefefe;
    height: 100%;

    min-height: 100vh;

    padding-top: 1rem;

}

h1 {

    height: 5%;
}



.newProductsSection {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 95%;

    max-height: none;



}


/* salses */
.newProductContainer {

    display: grid;
    gap: 5rem;
    row-gap: 0.5rem;
    z-index: 10;
    grid-template-columns: repeat(auto-fit, minmax(30wv, 50%));
    overflow-y: scroll;
    padding: 1rem ;
    z-index: 0;
    height: 100%;
    max-width: 1850px;
    justify-content: center;
    align-items: center;



}



.newProductContainer___item {

    max-width: 90vw;
    display: flex;
    align-items: center;
    height: 100%;
font-size: 12px;
position: relative;
}
.newProductDate{
top: 14.5%;
font-size: 0.7rem;
border-radius: 20px 20px 0 0px;
padding: 0 4%;
right: -1.5%;
z-index: 10;
    background-color:#e8edfa; 
    position: absolute;
    transform: rotate(45deg);
    }

.newProductContainer h5 {

    display: block;
    width: 100%;
    max-width: 70vw;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}








.newProductContainer___p {

    color: white;

}



@media screen and (min-width: 768px) {
    .newProductContainer {

        grid-template-columns: repeat(2, 40%);




    }
    .newProductDate{
        top: 16%;
        right: -1%;
        font-size: clamp(0.55rem, 0.7vw, 0.7rem);
    
            }
    .newProductContainer h5 {


        max-width: clamp(150px, 100%, 300px)
    }
}


@media screen and (min-width:990px) {
    .newProductContainer___text {

        width: 50%;


    }
    .newProductDate{
        top: 14%;
        right: -1.5%;
        font-size: clamp(0.5rem, 0.7vw, 0.7rem);
    
            }

    .newProductsSection {



        padding: 1rem 0;


    }

    .newProductContainer {
        height: 100%;
        grid-template-columns: repeat(3, 28%);




    }












    .newProductContainer___imgContainer {

        width: 50%;




    }


}